@model List<JanSeredynskiLabX.Models.Movie>
@{
    ViewBag.Title = "ShowAll";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
    <h2>Filmy</h2>
    <button type="button" id="buttonAddNew" class="btn btn-default navbar-btn">Dodaj nowy film</button>
    <div id="divAddNewMovie" class="panel panel-primary" style="width:280px">
        
        <div class="input-group" style="width:200px">
            <input type="text" id="textMovieName" class="form-control" placeholder="Nazwa Filmu" aria-describedby="basic-addon1">
            <input type="text" id="textMovieDate" class="form-control" placeholder="Data" aria-describedby="basic-addon1" value="@DateTime.Now.ToString("h:mm tt")">
            <button type="button" id="buttonSaveNew" class="btn btn-default navbar-btn">Zapisz</button> 
            <button type="button" class="btn btn-default navbar-btn" onclick="$('#divAddNewMovie').hide()">Anuluj</button> 
        </div>
        
    </div>
    <table id="tableMovie" class="table table-striped">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Data</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var item in Model)
               {
                <tr id ="tr@(item.Id = item.Id)">
                    <td>@item.Name</td>
                    <td>@item.ReleaseDate.ToShortTimeString()</td>
                    <td>
                        
                        <button onclick='deleteById(@(item.Id = item.Id))'>Usuń</button>
                        <button onclick='setIdToEdit(@(item.Id = item.Id))' data-toggle='modal' data-target='#exampleModal'>Edytuj</button>
                    </td>
                </tr>

       }
      

            }
        </tbody>
    </table>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")

<script type="text/javascript">
    
    $(document).ready(function () {
        $('#divAddNewMovie').hide();
        $("#buttonAddNew").click(function () {
            $('#divAddNewMovie').fadeIn("slow");
        });

        $('#buttonSaveNew').click(function ()
        {
            $('#divAddNewMovie').hide();
            $.post("@Url.Action("AddNewMovie2", "Movie")",
            {
                name: ($('#textMovieName').val()),
                date: ($('#textMovieDate').val())
            },
            function (data, status) {
                //alert("Data: " + data + "\nStatus: " + status);
                $('#tableMovie > tbody:last-child').append('<tr><td>' + ($('#textMovieName').val()) + '</td><td>' + ($('#textMovieDate').val()) + "</td><td><button onclick='deleteById(" + data.slice(0, 2) + ")'>Usuń</button><button onclick='setIdToEdit(" + data.slice(0, 2) + ")' data-toggle='modal' data-target='#exampleModal'>Edytuj</button></td></tr>");
            });

           
        })


       

    });

   
    function deleteById(idArg)
    {
        $.post("@Url.Action("DeleteById", "Movie")",
            {
                id: idArg
            },
            function (data, status) {
                //alert("Data: " + data + "\nStatus: " + status);
                $('#tr' + idArg).hide();
               
            });
    }

    function setIdToEdit(idArg)
    {
        idToChange = idArg;
    }

    function editById() {
        window.alert("jest" + idToChange);
        $.post("@Url.Action("UpdateById", "Movie")",
                {
                    id: idToChange,
                    name: ($('#textMovieNameEdit').val()),
                    date: ($('#textMovieDateEdit').val()),
                },
                function (data, status) {
                    //alert("Data: " + data + "\nStatus: " + status);
                    
                    $('#tr' + idToChange).html('<td>' + ($('#textMovieNameEdit').val()) + '</td><td>' + ($('#textMovieDateEdit').val()) + "</td><td><button onclick='deleteById(" + data.slice(0, 2) + ")'>Usuń</button><button onclick='setIdToEdit(" + data.slice(0, 2) + ")' data-toggle='modal' data-target='#exampleModal'>Edytuj</button></td>");
                });
        }


</script>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Edycja filmu</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Nazwa:</label>
              <input type="text" id="textMovieNameEdit" class="form-control" placeholder="Nazwa Filmu" aria-describedby="basic-addon1">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Data:</label>
            <input type="text" id="textMovieDateEdit" class="form-control" placeholder="Data" aria-describedby="basic-addon1" value="@DateTime.Now.ToString("h:mm tt")">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-primary" onclick="editById()" data-dismiss="modal">Zapisz Zmiany</button>
      </div>
    </div>
  </div>
</div>